Setup/Spellpad-cache/cacheIndex.txt
Setup/Spellpad-cache/part1/disk1.cab
Setup/Spellpad-cache/part1/output-info.ini
Setup/Spellpad-cache/part2/disk1.cab
Setup/Spellpad-cache/part2/output-info.ini
Setup/Spellpad.aip
Setup/Spellpad.back.aip
